:root{
  --deep: #054fb9;
  --dark: #0461cf;
  --light-deep: hsl(210, 100%, 45%);
  --fade: #b3c7f7 ;
  --add-task:#6bb4f1;

}


body {
    font-family: Arial, sans-serif;
    background: #040a22!important;
    overflow: hidden; 
}



h1 {
    color: #ffffff;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-y: hidden; 
    overflow: hidden; 
    }
.app{
        width: 300px;
        height: 500px;
        border: 2px solid var(--fade);
        background-color: #181C2E;
        border-radius: 8px;
        padding: 14px;
        overflow-y: scroll;
        border-radius: 18px;
        overflow: hidden; 

        /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */

        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    .app::-webkit-scrollbar{
        width: 0 !important;
        /*scroll:;*/
      }






      .card {
        /* position: relative; */
    
        width: 300px;
        height: 530px;
        color: red;
    
    
        .glass {
          /* position: absolute; */
          top: 0;
          left: 0;
          width: 100%;
          height: 400%;
          background: rgba(255, 255, 255, 0.1);
        }
    
        &::before,
        &::after {
          position: absolute;
          content: "";
          top: -2px;
          left: -2px;
          right: -2px;
          bottom: -2px;
        }
    
        &::before {
          z-index: -1;
          /* background: #040a22!important; */
        }
    
        &::after {
          --gradientColor1: #09ec3a;
          --gradientColor2: #040c27;
          --gradientColor3: #37a5ee;
          z-index: -2;
          background: linear-gradient(
            50deg,
            var(--gradientColor1),
            var(--gradientColor2),
            var(--gradientColor3)
          );
    
          filter: blur(90px);
          animation: glow 9s linear infinite;
        }
    
        .card-body {
          padding: 20px;
          color: white;
        }
      }
    
      @keyframes glow {
        1000% {
          --gradientColor1: rgba(9, 236, 58, 0.6);
          --gradientColor2: rgba(4, 12, 39, 0.6);
          --gradientColor3: rgba(55, 165, 238, 0.6);
        }
      }
    
      .container {
        width: 300px;
        height: 500px;
        margin: 50px auto;
        text-align: center;
    }
    
    
#wordDisplay {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 10px; /* Add spacing between letters */
}

#wordDisplay span {
    border-bottom: 2px solid #333; /* Add bottom border to style placeholders */
    padding: 0 5px; /* Add padding to style placeholders */
}


#guessInput {
    margin-bottom: 10px;
    padding: 5px;
    display: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}


.wrap {
    flex-direction: column;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .customBtn, #resetBtn {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

  .customBtn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-2px);
  }
  #resetBtn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-2px);
  }

  .result {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.result.show {
    display: block; /* Show result message */
}


.correct {
  color: rgb(21, 205, 21);
}
.incorrect{
  color: red;
}


#addNew{
  display: flex;
  background-color: var(--fade);
  align-items: center;
  padding: 5px 10px;
  justify-content: space-between;
  border-radius: 4px;
  cursor: pointer;
}

#plus{
  color: white;
}


